body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  background-image: url(https://media.istockphoto.com/photos/error-404-3drendering-page-concept-picture-id1302333331);
}

.navbar a:hover {
  color: #ffffff;
}
